{% extends 'base.html.twig' %}

{% block title %}Sélection d'adresse{% endblock %}

{% block body %}
    <section class="user">
        <div class="row py-5">
            <div class="col-8 offset-2">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="flash-{{ label }} bg-{{ label }} text-light p-3 mb-5 rounded">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <h1>Sélectionner l'adresse de livraison de cette commande</h1>

        <table class="table text-center table-hover table-sm">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Sélection de l'adresse</th>
                    <th>Nom de l'adresse</th>
                    <th>Adresse</th>
                    <th>Complément d'adresse</th>
                    <th>Code Postal</th>
                    <th>Ville</th>
                </tr>
            </thead>
            <tbody>
                {% for address in addresses %}
                    <tr class="align-middle">
                        <td>{{ loop.index }}</td>
                        <td><input type="radio" name="selectedAddress"></td>
                        <td>{{ address.name }}</td>
                        <td>{{ address.street }}</td>
                        <td>{{ address.complement }}</td>
                        <td>{{ address.zip }}</td>
                        <td>{{ address.city }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="col-12 d-flex justify-content-end">
            <a href="{{ path('profile_address_create') }}" class="btn btn-primary me-3">Ajouter une adresse</a>
            <a href="{{ path('payment') }}" class="btn btn-success">Payer</a>
        </div>
    </section>
{% endblock %}