{% extends 'base.html.twig' %}

{% block title %}adresses{% endblock %}

{% block body %}
    <section class="user">
        {{ form_start(addressForm) }}

        <div class="row">
            <div class="col-3">
                {{ form_row(addressForm.name) }}
            </div>
            <div class="col-6">
                {{ form_row(addressForm.street) }}
            </div>
        </div>
        
        <div class="row">
            <div class="col-6">
                {{ form_row(addressForm.complement) }}
            </div>
            <div class="col-3">
                {{ form_row(addressForm.zip) }}
            </div>
            <div class="col-3">
                {{ form_row(addressForm.city) }}
            </div>
        </div>
        {% if cart is not empty %}
            <div class="col-12 d-flex justify-content-end">
                <a href="{{ path('payment') }}" class="btn btn-success">Créer et payer</a>
            </div>
        {% else %}
        <div class="col-12 d-flex justify-content-end">
            <a href="{{ path('profile_address') }}" class="btn btn-success">Créer / Modifier</a>
        </div>
        {% endif %}
        
            
        {{ form_end(addressForm) }}
    </section>
{% endblock %}