{% extends 'base.html.twig' %}

{% block title %}Sélection d'adresse{% endblock %}

{% block body %}
    <section class="user">
        {# {{ form_start(formAddressSelected) }} #}
        <div class="row py-5">
            <div class="col-8 offset-2">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="flash-{{ label }} bg-{{ label }} text-light p-3 mb-5 rounded">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <h1>Sélectionner l'adresse de livraison de cette commande</h1>

        <table class="table text-center table-hover table-sm">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Sélection de l'adresse</th>
                    </tr>
            </thead>
            <tbody>
                <form action="{{ path('profile_order_recap') }}" method="get">
                {% for address in addresses %}
                    <tr class="align-middle">
                        <td>{{ loop.index }}</td>
                        <td><input type="radio" name="$selectedAddress" value="{{ address.id }}" required>
                        <label for={{ address.id }}>{{ address.name }} {{ address.street }} {{ address.complement }} {{ address.zip }} {{ address.city }}</label></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="col-12 d-flex justify-content-end">
            <a href="{{ path('profile_address_create') }}" class="btn btn-primary me-3">Ajouter une adresse</a>
            <button class="btn_shape btn-success" type="submit">Valider</button> 
        </div>
    </form>
        {# {{ form_end(formAddressSelected) }} #}
    </section>
{% endblock %}