{% extends 'base.html.twig' %}

{% block title %}adresses{% endblock %}

{% block body %}
<main class="container-fluid">
    <section class="addressform">
        <span class="row py-3 baseflash">
            <span class="col-8 offset-2">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="flash-{{ label }} bg-{{ label }} text-light text-center p-3 rounded">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </span>
        </span>
        {{ form_start(addressForm) }}
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    {{ form_row(addressForm.name) }}
                </div>
                <div class="col-md-9 col-sm-12">
                    {{ form_row(addressForm.street) }}
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    {{ form_row(addressForm.complement) }}
                </div>
                <div class="col-md-3 col-sm-12">
                    {{ form_row(addressForm.zip) }}
                </div>
                <div class="col-md-3 col-sm-12">
                    {{ form_row(addressForm.city) }}
                </div>
            </div>
            <div class="col-12 d-flex justify-content-end">
                <a href="{{ path('profile_address') }}" class="btn_shape btn-danger m-3">Annuler</a>
                {% if cart is not empty %}
                    <button class="btn_shape btn-success m-3">Créer et payer</button>
                    {% else %}
                    <button class="btn_shape btn-success m-3">Créer / Modifier</button>
                {% endif %}
            </div>
        {{ form_end(addressForm) }}
    </section>
</main>
{% endblock %}