{% extends 'base.html.twig' %}

{% block title %}utilisateurs{% endblock %}

{% block body %}
        <section class="user">
            <span class="row py-3 baseflash">
                <span class="col-8 offset-2">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="flash-{{ label }} bg-{{ label }} text-light text-center p-3 rounded">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </span>
            </span>
            <h1>Mon profil</h1>
            {% if app.user %}
            <div>
                <div class="btn">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('admin') }}">Admin</a>
                    {% endif %}
                </div>
            {% endif %}
            </div>
            <div class="card_user_container">
                <div class="card_user">
                    <h2>Mes informations</h2>
                    <div class="btn">
                        <a href="{{ path('profile') }}">+ info</a>
                    </div>
                </div>
                <div class="card_user">
                    <h2>Mes adresses</h2>
                    <div class="btn">
                        <a href="{{ path('profile_address') }}">+ info</a>
                    </div>
                </div>
                <div class="card_user">
                    <h2>Mes commandes</h2>
                    <div class="btn">
                        <a href="{{ path('profile_order') }}">+ info</a>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}