{% extends 'baseAdmin.html.twig' %}

{% block title %}commandes{% endblock %}

{% block body %}
    <section class="user">
        <h1>Liste des différentes commandes</h1>

        <table class="table text-center table-hover table-sm">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Nom de l'utilisateur</th>
                    <th>Date de commande</th>
                    <th>Date de paiement</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr class="align-middle">
                        <td>{{ loop.index }}</td>
                        <td>{{ order.user.name }}</td>
                        <td>{{ order.order_date }}</td>
                        <td>{{ order.payment_date }}</td>
                        <td>{{ order.amount }}</td>
                        <td>
                            <a href="{{ path('profile_order_line', {'id': order.id}) }}" class="text-danger"><i class="fas fa-eye">Détails</i></a>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="btn">
            <a href="{{ path('cart_index') }}">Voir mon panier</a>
        </div>
    </section>
{% endblock %}