{% extends 'base.html.twig' %}

{% block title %}commandes{% endblock %}

{% block body %}
<main class="container-fluid">
    <section class="cart">
        <span class="row py-3 baseflash">
            <span class="col-8 offset-2">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="flash-{{ label }} bg-{{ label }} text-light text-center p-3 rounded">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </span>
        </span>
        <div class="row">
            <div class="col-12">
        <h1>Détails de la commande n° {{ orders.id }}</h1>

        <table class="table align-middle">
            <thead class="text-center table-secondary">
                <tr class="fw-bold">
                    <th class="text-start">Produit</th>
                    <th>Quantité</th>
                    <th>Prix unitaire</th>
                    <th>Sous-total</th>
                </tr>
            </thead>
            <tbody>
                {% for line in orderLines %}
                    <tr>
                        <td><img src="{{ asset('img/' ~ line.product.img) }}" alt="photo principale {{ line.product.name }}" class="me-3">
                            {{ line.product.name }} {{ line.product.types.name|default(' ') }} {{ line.product.size.name|default(' ') }} {{ line.product.color.name|default(' ') }} {{ line.product.angle.name|default(' ') }} {{ line.product.drilling.name|default(' ') }}</td>
                        <td class="text-center">{{ line.quantity }}</td>
                        <td class="text-center">{{ line.product.price }} €</td>
                        <td class="text-center">{{ (line.product.price * line.quantity)|number_format(0, ',', ' ') }} €</td>
                    </tr>
                    {% endfor %}
            </tbody>
            <tfoot class="table-secondary text-end">
                <tr class="fw-bold">
                    <th colspan="3">TOTAL :</th>
                    <th class="text-center">{{ orders.amount|number_format(0, ',', ' ') }} €</th>
                </tr>
            </tfoot>
        </table>
        <div class="d-flex justify-content-end my-5">
            <a href="{{ path('profile_order') }}" class="btn me-3 shadow-none">Retour</a>
        </div>
    </section>
</main>
{% endblock %}