{% extends 'base.html.twig' %}

{% block title %}utilisateurs{% endblock %}

{% block body %}
    <section class="user">
        {{ form_start(userForm) }}

            <div class="row">
                <div class="col-4">
                    {{ form_row(userForm.name) }}
                </div>
                <div class="col-4">
                    {{ form_row(userForm.email) }}
                </div>
                <div class="col-4">
                    {{ form_row(userForm.roles, {'label': 'Role'})}}
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    {{ form_row(userForm.phone) }}
                </div>
                <div class="col-6">
                    {{ form_row(userForm.company) }}
                </div>
            </div>
        
            <div class="col-12 d-flex justify-content-end">
                <a href="{{ path('profile_address_create') }}" class="btn btn-danger m-3">Annuler</a>
                <button class="btn btn-success m-3">Créer / Modifier</button>
            </div>
            
        {{ form_end(userForm) }}
    </section>
{% endblock %}