{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <main class="container-fluid">
        <section class="login">
            <span class="row py-3 baseflash">
                <span class="col-8 offset-2">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="flash-{{ label }} bg-{{ label }} text-light text-center p-3 rounded">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </span>
            </span>
                    <h1>Connexion</h1>
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                            </div>
                        {% endif %}

                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                        <label for="inputPassword">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Se souvenir de moi
                            </label>
                        </div>
                        <div class="text-end">
                            <button class="btn btn-primary" type="submit">Connexion</button>
                        </div>
                    </form>
                </div>
                <div class="col-8 offset-2">
                    <a href="{{ path('app_register') }}">Vous n'êtes pas encore inscrit?</a>
                </div>
                <div class="col-8 offset-2">
                    <a href="{{ path('forgotten_password') }}">Mot de passe oublié</a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
