{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
    <main class="container-fluid">
        <section class="login">
            <span class="row py-3 baseflash">
                <span class="col-8 offset-2">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="flash-{{ label }} bg-{{ label }} text-light text-center p-3 rounded">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </span>
            </span>
            <div class="row">
                <div class="col-12">
                    <h1>Nouveau mot de passe</h1>
                    {{ form_start(passForm)}}
                        {{ form_row(passForm.plainPassword) }}
                        <div class="d-flex justify-content-end">
                            <button class="btn_shape btn-success" type="submit">Envoyer</button>
                        </div>
                    {{ form_end(passForm) }}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
