{% extends 'baseAdmin.html.twig' %}

{% block title %}adresses{% endblock %}

{% block body %}

    <h1>Liste des différentes adresses</h1>

    <table class="table text-center table-hover table-sm">
        <thead>
            <tr>
                <th>N°</th>
                <th>Address1</th>
                <th>Address2</th>
                <th>Zip code</th>
                <th>City</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for address in addresses %}
                <tr class="align-middle">
                    <td>{{ loop.index }}</td>
                    <td>{{ address.address1 }}</td>
                    <td>{{ address.address2 }}</td>
                    <td>{{ address.zipCode }}</td>
                    <td>{{ address.city }}</td>
                     <td>
                        <a href="{{ path('address_update', {'id': address.id}) }}" class="text-primary"><i class="fas fa-pen-square"></i></a>
                        <a href="{{ path('address_delete', {'id': address.id}) }}" class="text-danger"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-end my-5">
        <a href="{{ path('address_create') }}" class="btn">Ajouter un produit</a>
    </div>

{% endblock %}