{% extends 'baseAdmin.html.twig' %}

{% block title %}categories{% endblock %}

{% block body %}
<span class="row py-3 baseflash">
    <span class="col-8 offset-2">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }} bg-{{ label }} text-light text-center p-3 rounded">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </span>
</span>

    <h1>Liste des différentes categories</h1>

    <table class="table text-center table-hover table-sm">
        <thead>
            <tr>
                <th>N°</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr class="align-middle">
                    <td>{{ loop.index }}</td>
                    <td>{{ category.name }}</td>
                     <td>
                        <a href="{{ path('category_update', {'id': category.id}) }}" class="text-primary"><i class="fas fa-pen-square"></i></a>
                        <a href="{{ path('category_delete', {'id': category.id}) }}" class="text-danger" onclick="return confirm_delete()"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-end my-5">
        <a href="{{ path('category_create') }}" class="btn">Ajouter une catégorie</a>
    </div>

{% endblock %}