{% extends 'baseAdmin.html.twig' %}

{% block title %}commandes{% endblock %}

{% block body %}
    <section class="user">
        <span class="row py-3 baseflash">
            <span class="col-8 offset-2">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="flash-{{ label }} bg-{{ label }} text-light text-center p-3 rounded">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </span>
        </span>
        <h1>Détails de la commande n° {{ orders.id }}</h1>

        <table class="table text-center table-hover table-sm">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Produit</th>
                    <th>Quantité</th>
                    <th>Prix unitaire</th>
                    <th>Sous-total</th>
                </tr>
            </thead>
            <tbody>
                {% for line in orderLines %}
                    <tr class="align-middle">
                        <td><img src="{{ asset('img/' ~ line.product.img) }}" alt="photo principale {{ line.product.name }}" class="me-3">
                            {{ line.product.name }} {{ line.product.types.name|default(' ') }} {{ line.product.size.name|default(' ') }} {{ line.product.color.name|default(' ') }} {{ line.product.angle.name|default(' ') }} {{ line.product.drilling.name|default(' ') }}</td>
                        <td>{{ line.quantity }}</td>
                        <td>{{ line.product.price }} €</td>
                        <td>{{ (line.product.price * line.quantity)|number_format(0, ',', ' ') }} €</td>
                    </tr>
                    {% endfor %}
                </tbody>
                    <tfoot class="table-secondary text-end">
                        <tr class="fw-bold">
                            <th colspan="12">TOTAL :</th>
                            <th>{{ orders.amount|number_format(0, ',', ' ') }} €</th>
                        </tr>
                    </tfoot>
        </table>
        <div class="text-end">
            <a href="{{ path('admin_order_index') }}" class="btn btn-outline-secondary btn-sm">Retour</a>
        </div>
    </section>
{% endblock %}