{% extends 'baseAdmin.html.twig' %}

{% block title %}produits{% endblock %}

{% block body %}

    <section>
        <h1>Liste des produits</h1>

        <table class="table text-center table-hover table-sm">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Name</th>
                    <th>Img</th>
                    <th>Types</th>
                    <th>Size</th>
                    <th>Color</th>
                    <th>Angle</th>
                    <th>Drilling</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td class="align-middle">{{ loop.index }}</td>
                        <td class="align-middle">{{ product.name }}</td>
                        <td class="align-middle"><img src="{{ asset('img/' ~ product.img) }}" alt="photo principale {{ product.name }}"></td>
                        {# <td class="align-middle">{{ product.types }}</td> #}
                        {# <td class="align-middle">{{ product.size }}</td> #}
                        {# <td class="align-middle">{{ product.color }}</td> #}
                        {# <td class="align-middle">{{ product.angle }}</td> #}
                        {# <td class="align-middle">{{ product.drilling }}</td> #}
                        {# <td class="align-middle">{{ product.price }}</td> #}
                        {# <td class="align-middle">{{ product.category }}</td> #}
                        <td class="align-middle">
                            <a href="#" class="text-primary"><i class="fas fa-pen-square"></i></a>
                            <a href="#" class="text-danger"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}