{% extends 'baseAdmin.html.twig' %}

{% block title %}produits{% endblock %}

{% block body %}

    <h1>Liste des produits</h1>

    <table class="table text-center table-hover table-sm">
        <thead>
            <tr>
                <th>N°</th>
                <th>Name</th>
                <th>Img</th>
                <th>Types</th>
                <th>Size</th>
                <th>Color</th>
                <th>Angle</th>
                <th>Drilling</th>
                <th>Price</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td class="align-middle">{{ loop.index }}</td>
                    <td class="align-middle">{{ product.name }}</td>
                    <td class="align-middle"><img src="{{ asset('img/' ~ product.img) }}" alt="photo {{ product.name }}"></td>
                    <td class="align-middle">{{ product.types.name|default('-') }}</td>
                    <td class="align-middle">{{ product.size.name|default('-') }}</td>
                    <td class="align-middle">{{ product.color.name|default('-') }}</td>
                    <td class="align-middle">{{ product.angle.name|default('-') }}</td>
                    <td class="align-middle">{{ product.drilling.name|default('-') }}</td>
                    <td class="align-middle">{{ product.price }} €</td>
                    <td class="align-middle">{{ product.category.title }}</td>
                    <td class="align-middle">
                        <a href="{{ path('products_update', {'id': product.id}) }}" class="text-primary"><i class="fas fa-pen-square"></i></a>
                        <a href="{{ path('products_delete', {'id': product.id}) }}" class="text-danger"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-end my-5">
        <a href="{{ path('products_create') }}" class="btn">Ajouter un produit</a>
    </div>

{% endblock %}