{% extends 'baseAdmin.html.twig' %}

{% block title %}Taille{% endblock %}

{% block body %}

    <h1>Liste des différentes tailles</h1>

    <table class="table text-center table-hover table-sm">
        <thead>
            <tr>
                <th>N°</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for size in sizes %}
                <tr class="align-middle">
                    <td>{{ loop.index }}</td>
                    <td>{{ size.name }}</td>
                     <td>
                        <a href="{{ path('size_update', {'id': size.id}) }}" class="text-primary"><i class="fas fa-pen-square"></i></a>
                        <a href="{{ path('size_delete', {'id': size.id}) }}" class="text-danger"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-end my-5">
        <a href="{{ path('size_create') }}" class="btn">Ajouter un produit</a>
    </div>

{% endblock %}