{% extends 'baseAdmin.html.twig' %}

{% block title %}utilisateurs{% endblock %}

{% block body %}

    {{ form_start(userForm) }}

        <div class="row">
            <div class="col-4">
                {{ form_row(userForm.name, {'label': 'Nom'}) }}
            </div>
            <div class="col-4">
                {{ form_row(userForm.email, {'label': 'Email'})}}
            </div>
            {# <div class="col-4">
                {{ form_row(userForm.roles, {'label': 'Role'})}}
            </div> #}
        </div>

        <div class="row">
            <div class="col-6">
                {{ form_row(userForm.phone, {'label': 'Téléphone'}) }}
            </div>
            <div class="col-6">
                {{ form_row(userForm.company, {'label': 'Entreprise'})}}
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                {{ form_row(userForm.billingAddress, {'label': 'Adresse de facturation'}) }}
            </div>
            <div class="col-3">
                {{ form_row(userForm.zipCodeBilling, {'label': 'Adresse de facturation'}) }}
            </div>
            <div class="col-3">
                {{ form_row(userForm.cityBilling, {'label': 'Adresse de facturation'}) }}
            </div>
        </div>
        
        <div class="row">
            <div class="col-6">
                {{ form_row(userForm.deliveryAddress, {'label': 'Adresse de facturation'}) }}
            </div>
            <div class="col-3">
                {{ form_row(userForm.zipCodeDelivery, {'label': 'Adresse de facturation'}) }}
            </div>
            <div class="col-3">
                {{ form_row(userForm.cityDelivery, {'label': 'Adresse de facturation'}) }}
            </div>
        </div>

        <div class="col-12 d-flex justify-content-end">
            <a href="{{ path('admin_user_index') }}" class="btn btn-danger m-3">Annuler</a>
            <button class="btn btn-success m-3">Créer / Modifier</button>
        </div>
        
    {{ form_end(userForm) }}

{% endblock %}