{% extends 'baseAdmin.html.twig' %}

{% block title %}utilisateurs{% endblock %}

{% block body %}

    <h1>Liste des utilisateurs</h1>

    <table class="table text-center table-hover table-sm">
        <thead>
            <tr>
                <th>N°</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Company</th>
                <th>Roles</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td class="align-middle">{{ loop.index }}</td>
                    <td class="align-middle">{{ user.name }}</td>
                    <td class="align-middle">{{ user.email }}</td>
                    <td class="align-middle">{{ user.phone }}</td>
                    <td class="align-middle">{{ user.company }}</td>
                    {# <td class="align-middle">{{ user.addresses }}</td> #}
                    {# <td class="align-middle">{{ user.roles }}</td> #}
                    <td class="align-middle">
                        <a href="#" class="text-primary"><i class="fas fa-pen-square"></i></a>
                        <a href="#" class="text-danger"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}