{% extends 'baseAdmin.html.twig' %}

{% block title %}utilisateurs{% endblock %}

{% block body %}

    <h1>Liste des utilisateurs</h1>

    <table class="table text-center table-hover table-sm">
        <thead>
            <tr>
                <th>N°</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Entreprise</th>
                <th>Adresse de facturation</th>
                <th>Adresse de livraison</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in user %}
                <tr class="align-middle">
                    <td>{{ loop.index }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone|default(' ') }}</td>
                    <td>{{ user.company|default(' ') }}</td>
                    <td>
                        {% for address in user.addresses %}
                            <ul>
                                <li>{{ address.billingAddress }}</li>
                                <li>{{ address.zipCodeBilling }}</li>
                                <li>{{ address.cityBilling }}</li>
                            </ul>
                        {% endfor %}
                    </td>
                    <td>
                        {% for address in user.addresses %}
                            <ul>
                                <li>{{ address.deliveryAddress|default(' ') }}</li>
                                <li>{{ address.zipCodeDelivery|default(' ') }}</li>
                                <li>{{ address.cityDelivery|default(' ') }}</li>
                            </ul>
                        {% endfor %}
                    </td>
                    <td class="align-middle">
                        <ul>
                            {% for role in user.roles %}
                                <li>{{ role|default(' ') }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td class="align-middle">
                        <a href="{{ path('user_update', {'id': user.id}) }}" class="text-primary"><i class="fas fa-pen-square"></i></a>
                        <a href="{{ path('user_delete', {'id': user.id}) }}" class="text-danger"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-end my-5">
        <a href="{{ path('user_create') }}" class="btn">Ajouter un utilisateur</a>
    </div>

{% endblock %}