{% extends 'base.html.twig' %}

{% block title %}produits{% endblock %}

{% block body %}

<section class="produits">
    <span class="row py-3 baseflash">
        <span class="col-8 offset-2">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash-{{ label }} bg-{{ label }} text-light text-center p-3 rounded">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </span>
    </span>
    <div>
        <ul>
            <li>
                <a href="{{ path('produits_renovation') }}">Rénovation</a>
            </li>
            <li>
                <a href="{{ path('produits_packs') }}" class="active">Packs</a>
            </li>
            <li>
                <a href="{{ path('produits_volumes') }}">Volumes</a>
            </li>
            <li>
                <a href="{{ path('produits_prises') }}">Prises</a>
            </li>
        </ul>
    </div>
    <div class="card_produits_container">
        {% for product in products %}
            {% if product.category.name == "packs" %}
            <div class="card_produits">
                <div>
                    <img src="{{ asset('img/' ~ product.img) }}" alt="photo {{ product.name }}">
                </div>
                <div>
                    <h3>{{ product.name }}</h3>
                </div>
                <div>
                    <p>A partir de: <b>{{ product.price }} €</b></p>
                    {% if product.types is null %}
                    <p class="d-none">Typologie: {{ product.types.name|default(' ') }}</p>
                    {% else %}
                    <p>Typologie: {{ product.types.name|default(' ') }}</p>
                    {% endif %}
                    {% if product.size is null %}
                    <p class="d-none">Taille: {{ product.size.name|default(' ') }}</p>
                    {% else %}
                    <p>Taille: {{ product.size.name|default(' ') }}</p>
                    {% endif %}
                    {% if product.color is null %}
                    <p class="d-none">Couleur: {{ product.color.name|default(' ') }}</p>
                    {% else %}
                    <p>Couleur: {{ product.color.name|default(' ') }}</p>
                    {% endif %}
                    {% if product.angle is null %}
                    <p class="d-none">Angle d’ouverture: {{ product.angle.name|default(' ') }}</p>
                    {% else %}
                    <p>Angle d’ouverture: {{ product.angle.name|default(' ') }}</p>
                    {% endif %}
                    {% if product.drilling is null %}
                    <p class="d-none">Trâme (espace 10cm): {{ product.drilling.name|default(' ') }}</p>
                    {% else %}
                    <p>Trâme (10cm): {{ product.drilling.name|default(' ') }}</p>
                    {% endif %}
                </div>
                <div class="text-end d-flex align-items-stretch">
                    <a href="{{ path('produit', {'id': product.id}) }}" class="btn shadow-none">+ info</a>
                    <a href="{{ path('cart_add', {'id': product.id}) }}" class="btn_shape btn-success btn-sm">Ajouter au panier</a>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</section>

{% endblock %}
