{% extends 'base.html.twig' %}

{% block title %}produit{% endblock %}

{% block body %}

<section class="produit">
    <div>
        <ul>
            <li>
                <a href="{{ path('produits_renovation') }}">Rénovation</a>
            </li>
            <li>
                <a href="{{ path('produits_packs') }}">Packs</a>
            </li>
            <li>
                <a href="{{ path('produits_volumes') }}">Volumes</a>
            </li>
            <li>
                <a href="{{ path('produits_prises') }}">Prises</a>
            </li>
        </ul>
    </div>
    <div class="card_produit">
        <div>
            <img src="{{ asset('img/' ~ product.img) }}" alt="photo principale {{ product.name }}">
        </div>
        <div>
            <h3>{{ product.name }}</h3>
            <p>--------------------------------------------------------------------------------------------</p>
            <p><b>{{ product.price }} €</b></p>
            <p>longueur : {{ product.length }} cm / largeur : {{ product.width }} cm / hauteur : {{ product.height }} cm</p>
            <p>--------------------------------------------------------------------------------------------</p>
            <p>Typologie: {{ product.types.name|default(' ') }}</p>
            <p>Taille: {{ product.size.name|default(' ') }}</p>
            <p>Angle d’ouverture: {{ product.angle.name|default(' ') }}</p>
            <p>Option trâme (espace 10cm): {{ product.drilling.name|default(' ') }}</p>
            <p>Couleurs: {{ product.color.name|default(' ') }}</p>
            <p>Description: {{ product.description|default(' ') }}</p>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <a href="{{ path('cart_add', {'id': product.id}) }}" class="btn_shape btn-success btn-sm">Ajouter au panier</a>
    </div>
</section>

{% endblock %}
