{% extends 'base.html.twig' %}

{% block title %}produits{% endblock %}

{% block body %}

<section class="produits">
    <span class="row py-3 baseflash">
        <span class="col-8 offset-2">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash-{{ label }} bg-{{ label }} text-light text-center p-3 rounded">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </span>
    </span>
    <div>
        <ul>
            <li>
                <a href="{{ path('produits_renovation') }}">Rénovation</a>
            </li>
            <li>
                <a href="{{ path('produits_packs') }}">Packs</a>
            </li>
            <li>
                <a href="{{ path('produits_volumes') }}">Volumes</a>
            </li>
            <li>
                <a href="{{ path('produits_prises') }}">Prises</a>
            </li>
        </ul>
    </div>
    <div class="card_produits_container">
        {% for product in products %}
            <div class="card_produits">
                <div>
                    <img src="{{ asset('img/' ~ product.img) }}" alt="photo {{ product.name }}">
                </div>
                <div>
                    <h3>{{ product.name }}</h3>
                </div>
                <div>
                    <p>Types: {{ product.types.name|default(' ') }}</p>
                    <p>Taille: {{ product.size.name|default(' ') }}</p>
                    <p>Couleur: {{ product.color.name|default(' ') }}</p>
                    <p>Angle: {{ product.angle.name|default(' ') }}</p>
                    <p>Trâme: {{ product.drilling.name|default(' ') }}</p>
                </div>
                <div class="text-end btn-products">
                    <a href="{{ path('produit', {'id': product.id}) }}" class="btn btn-outline-secondary btn-sm">+ info</a>
                    <a href="{{ path('cart_add', {'id': product.id}) }}" class="btn_shape btn-success btn-sm">Ajouter au panier</a>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock %}
